nav {
    margin-bottom: 0px;
}

.sidebar {
    right: 0;
    left: auto;
}
img {
    width: 100%;
    height: auto;
}

.fondo-index {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: red;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.fondo-index img{
    width: 100%;
    height: 100%;
}


.fondo-index h1 {
    font-size: 3vw;
    min
    color: #e57c37;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
}

    .fondo-index p {
        font-size: 2vw;
        min-f
        color: black;
        position: absolute;
        top: 30%;
        left: 50%;
        height: auto;
        width: auto;
        transform: translate(-50%, -50%);
    }
    .fondo-index a {
        font-size: 2rem;
        color: black;
        position: absolute;
        top: 45%;
        left: 50%;
        right: 50%;
        width: 200px;
        transform: translate(-50%, -50%);
    }