<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="connectionStringSA" value="DefaultEndpointsProtocol=https;AccountName=managcondstorage;AccountKey=OdTatkwhLdN/ojSTh6cmzS4kEFiPhPUpEWbxrJx1UCg5p9neLwJ0YeYdYJlbCrcHRgS69YC0HioB+AStD2dyPA==;EndpointSuffix=core.windows.net" />
		<add key="containerSA" value="fotos" />
		<add key="containerArchivosSA" value="archivos" />
		<add key="urlSA" value="https://managcondstorage.blob.core.windows.net/" />
		<add key="tokenSAS" value="?sp=r&amp;st=2022-10-29T04:27:40Z&amp;se=2023-01-31T12:27:40Z&amp;spr=https&amp;sv=2021-06-08&amp;sr=c&amp;sig=D9P23%2FM2m24SojVnKloNP3KCNGM5j%2B1NiTTVZqsHd6I%3D" />
		<add key="tokenArchivosSAS" value="?sp=r&amp;st=2022-11-10T19:43:17Z&amp;se=2023-01-10T03:43:17Z&amp;spr=https&amp;sv=2021-06-08&amp;sr=c&amp;sig=edAjN9VoZC%2F9350HVvrfvHGsuK8M%2Bdg7BftrwF6NnEI%3D" />
	</appSettings>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.6" />
		<httpRuntime maxRequestLength="10240" targetFramework="4.6" />
		<globalization culture="es-CL" uiCulture="es-CL" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>